@import '../../index.scss';

.allergens {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  width: 100%;
  margin: 1rem 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background: $background;
  padding: 2rem 10%;

  &__title {
    width: 90%;
    margin: 0 auto;
  }

  &__content {
    width: 90%;
    margin: 0 auto;

    &__specific {
      background: white;
      padding: 1rem;
    }
  }
}
