@import '../../index.scss';

.producer {
  &__title {
    margin-bottom: 1.5rem;
  }

  &__load {
    height: 2.5rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    background: $ingredient;
    border: none;
    font-size: 0.9rem;
    outline: none;

    &:hover {
      color: white;
    }

    &:active {
      background: $secondary-title;
    }
  }

  input {
    width: 100%;
  }
}
