@import '../../index.scss';

.small * {
  font-size: 0.9rem;
}

.label-preview {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.226);
  border-radius: 4px;
  width: 30%;
  position: fixed;
  right: 5%;
  padding: 2rem;
  min-height: fit-content;
  height: 95vh;
  margin: 2.5vh 0;
  overflow: hidden;

  &__description {
    font-weight: normal;
  }

  &__allergens {
    font-style: italic;
    font-weight: bold;
  }

  &__weight {
    margin-top: 1rem;
    &__text {
      font-weight: bold;
      margin-left: 0.5rem;
    }
  }

  &__date {
    margin-top: 1rem;
    &__text {
      font-weight: bold;
      margin-left: 0.5rem;
    }
  }

  &__producer,
  &__distributor,
  &__country {
    margin-top: 1rem;
  }

  &__nutrients {
    margin-top: 1rem;

    &__title {
      padding-bottom: 3px;
      border-bottom: 1px solid $placeholder-text;
    }

    &__subnutrient {
      padding-left: 3%;

      // border-top: 1px solid $background;

      .nutrient-preview h5 {
        font-size: 0.9rem;
        width: 31%;
      }

      .nutrient-preview span {
        width: 31.5%;
      }
    }
  }
}
