@import '../../../../index.scss';

.nutrient-preview {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;

  h5 {
    width: 33%;
    font-size: 1rem;
    font-weight: normal;
  }

  &__weight,
  &__percentage {
    width: 33%;
    text-align: right;

    &__unit {
      font-weight: bold;
      font-family: $font-family-digits;
    }
  }
}
