@import '../index.scss';

.add-custom {
  margin-bottom: 0;
}

.label__ingredients__picker__filtered {
  width: 80%;
  background: white;
  padding: 1rem 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid gray;
  max-height: 14rem;
  overflow-y: scroll;
  margin: 0 auto;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $scroll-track;
    border: none;
    box-shadow: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $scroll-thumb;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $lightgray;
  }

  &__item {
    list-style-type: none;
    font-family: $font-family-secondary;
    padding: 1rem;

    &:hover {
      background: rgba(247, 247, 247, 0.568);
    }
  }
}
