@import '../index.scss';

.ingredients-selector {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
  width: 100%;
  margin: 1rem 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background: $background;
  padding: 2rem;

  &__title {
    margin-bottom: 2rem;
  }

  &__search {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  #add-custom-label {
    width: fit-content;
  }

  &__picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &__cont {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      &__search {
        padding-left: 2.3rem;
        width: 80%;
        background-image: url('../assets/search.svg');
        background-repeat: no-repeat;
        background-position: 1rem 49%;
        margin: 0 auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    width: 80%;

    &__add,
    &__remove {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        color: white;
        background: transparent;
        font-size: 2rem;
        line-height: 1.8rem;
        height: 100%;
        margin-bottom: 4px;
        outline: none;
        border: none;
      }
    }

    &__add {
      background: rgb(86, 162, 86);
    }

    &__remove {
      background: rgb(199, 119, 119);
    }
  }
}
