@import 'index.scss';

.App {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 2rem;

  @media (max-width: 1600px) {
    width: 98%;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    width: 800px;
  }
  .notification {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    background: rgb(219, 157, 157);
    color: rgb(119, 2, 2);
    opacity: 0.6;
    z-index: 1;
    @media (max-width: 799px) {
      visibility: visible;
    }
  }

  .form {
    width: 65%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1600px) {
      width: 59%;
    }
    @media (max-width: 1200px) {
      width: 100%;
    }

    .container {
      width: 100%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      background: $background;
      margin: 1rem 0 0;
      padding: 2rem 10%;
    }

    &__heading {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      background: $background;
      padding: 2rem 0;

      &__h1 {
        padding: 1rem 0 2rem;
      }

      &__title {
      }

      &__description {
        margin-bottom: 0;
      }

      &__select {
        select {
          width: fit-content;
        }
      }
    }

    &__parts {
      width: 100%;
    }

    &__package {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1382px) {
        display: flex;
        flex-wrap: wrap;
      }

      input {
        margin-bottom: 0;
      }

      &__weight {
        position: relative;
        @media (max-width: 1382px) {
          margin-bottom: 1rem;
        }

        &__message {
          width: 9.5rem;
          position: absolute;
          top: -1.4rem;
          color: red;
        }

        &__label {
          span {
            margin-right: 1rem;
            @media (max-width: 1382px) {
              display: inline-block;
              width: 6rem;
            }
          }
        }

        &__input {
          width: 8rem;
          @media (max-width: 1382px) {
            width: 8.5rem;
          }
        }
      }

      &__date {
        position: relative;
        &__message {
          width: 15rem;
          position: absolute;
          top: -1.2rem;
          color: red;
        }
        &__label {
          span {
            margin-right: 1rem;
            @media (max-width: 1382px) {
              display: inline-block;
              width: 6rem;
            }
          }
        }
        &__input {
          width: 12rem;
          @media (max-width: 1382px) {
            width: 13rem;
          }
        }
      }
    }

    &__country {
      margin-bottom: 0;
      width: 100%;
    }

    .country-select {
      position: relative;
      vertical-align: middle;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;

      &__label {
        margin-right: 1rem;
      }

      select {
        width: 80%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
        background-color: white;
        color: $primary;
        font-size: 1rem;
        height: 3rem;
        padding-left: 1rem;
        padding-right: 2rem;
        outline: none;
        border: none;
        border-radius: 2px;
        /*Hiding the select arrow for firefox*/
        -moz-appearance: none;
        /*Hiding the select arrow for chrome*/
        -webkit-appearance: none;
        /*Hiding the select arrow default implementation*/
        appearance: none;

        &::-ms-expand {
          display: none;
        }

        &:hover {
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.384);
          color: rgba(0, 0, 0, 0.616);
        }
      }

      &::after,
      .country-select::before {
        content: '';
        position: absolute;
        pointer-events: none;
      }

      &::after {
        content: '';
        border: 5px solid $primary;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        height: 0.3rem;
        right: 6.9rem;
        top: 56%;
        margin-top: -0.5em;
      }
    }
  }
}
