@import 'index.scss';

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 95%;

  .main-title {
    padding: 2rem 1rem 1rem;
    color: $purple;
    font-family: $font-family-secondary;
  }

  .label {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &__heading {
      width: 36rem;
      display: flex;
      flex-wrap: wrap;

      &__title {
        &__input {
          width: 15rem;
        }
      }

      &__description {
        &__input {
          width: 30rem;
        }
      }

      &__select {
        select {
          width: fit-content;
        }
      }
    }
  }
}
