$primary: #3b3b45;
$lightgray: rgb(225, 225, 225);
$purple: rgb(187, 35, 211);
$yellow: rgb(255, 255, 67);
$background: #f7f6f6;
$placeholder-text: #9899ae;
$ingredient: #e4e5e8;
$secondary-title: #808082;
$scroll-thumb: #a5a5b1;
$scroll-track: #efefef;
$add: rgb(86, 162, 86);
$active: rgb(104, 185, 104);
$add-hover: rgba(86, 162, 86, 0.339);
$remove: rgb(199, 119, 119);
$remove-hover: rgb(212, 165, 165);
$checkbox: rgb(98, 98, 98);

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: $primary;
}

$font-family-secondary: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;

$font-family-digits: 'Roboto Mono', monospace;

input {
  height: 3rem;
  width: 80%;
  border: none;
  outline: none;
  background-color: white;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 1rem;

  &::placeholder {
    font-size: 1rem;
    color: $placeholder-text;
    font-weight: lighter;
  }

  &:focus {
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.checkbox {
  margin-bottom: 1rem;
  text-align: right;
  position: relative;
  color: $checkbox;
  font-weight: lighter;
  display: flex;
  height: 2rem;

  span {
    font-family: $font-family-secondary;
    font-weight: 400;
  }

  &__button {
    position: relative;
    width: 1rem;
    height: fit-content;
    margin: 0;
    margin-right: 2rem;
    visibility: hidden;

    &:hover::before {
      background-color: #e2e2e2;
    }

    &::before {
      border-radius: 2px;
      position: absolute;
      bottom: 0;
      height: 0.7rem;
      width: 0.7rem;
      content: '';
      visibility: visible;
      border: 2px solid $checkbox;
    }

    &::after {
      color: white;
      position: absolute;
      bottom: -2px;
      left: 0.5px;
      content: '\2713';
      visibility: hidden;
    }

    &--checked {
      &:before {
        background: $add;
        border-color: $add;
      }

      &:hover::before {
        background-color: green;
        border-color: green;
      }

      &:after {
        visibility: visible;
      }
    }
  }
}
